.mainContainer {
  position: relative;
}

.mainField {
  width: 200px;
  height: 25px;
  border-bottom: 1px solid var(--mercury);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainField:hover {
  cursor: pointer;
}

.dropDownContainer {
  max-height: 300px;
  overflow: scroll;
  position: absolute;
  background: white;
  width: 200px;
  border: 1px solid var(--mercury);
  padding: var(--small-padding) 0;
}
